/* Reset */
h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  line-height: 1.5rem;
}
a {
  text-decoration: none;
  color: #2b6cb0;
}
/* Font family */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hover\:underline:hover {
  text-decoration: underline;
}
.hover\:pointer:hover {
  cursor: pointer;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.decor-font {
  font-family: 'Italiana', serif;
}

/* Font size */
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-7xl {
  font-size: 8rem;
}

/* Font weight */
.font-thin {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

/* Text align */
.text-center {
  text-align: center;
}

/* Self align */
.self-center {
  align-self: center;
}

/* Height */
.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}
.h-120 {
  height: 30rem;
}

/* Width */
.min-w-28 {
  min-width: 7rem;
}
.max-w-15 {
  max-width: 15rem;
}
.w-full {
  max-width: 100%;
}

/* Display */
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.absolute {
  position: absolute;
}

/* White space */
.whitespace-no-wrap {
  white-space: nowrap;
}

/* Align content */
.item-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
/* Justify content */
.justify-center {
  justify-content: center;
}

/* Margin */
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mb-8 {
  margin-bottom: 2rem;
}

/* Padding */
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-10 {
  padding: 2.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* Color */
.text-gray-100 {
  color: rgba(26,32,44, 1);
}
.text-gray-90 {
  color: rgba(26,32,44, 0.9);
}

.text-teal-80 {
  color: #285e61;
}

/* Column design */


.grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}

.grid-col-3 {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.grid-col-2 {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.grid-1-5 {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) minmax(240px, 5fr));
}

.grid-gap-8 {
  gap: 2rem;
}

/* List style */
.list-circle {
  list-style: circle;
}

/* Animation */
.anim-opacity-up {
  opacity: 0;
  animation-name: opacity;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.anim-opacity-up-1\/2 {
  opacity: 0;
  animation-name: opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from { opacity: 0; }
  to {opacity: 1; }
}

.anim-translate-up {
  transform: translateY(10px);
  animation-name: translateUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes translateUp {
  from { transform: translateY(10px); }
  to { transform: translateY(0px); }
}

.vertical-align-top {
  vertical-align: top;
}